.vertical-timeline::before {
    background: red !important; /* Thay 'red' bằng màu bạn muốn */
}
.sidebar-btn {
    background: transparent;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar-btn:hover {
    background: white;
    color: black;
}